/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "~bootstrap/scss/functions";

@import "variables";
@import "colors";
@import "table";
@import "form";
@import "modal";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { width: 100%;   height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 32px 8px 32px;
  border-bottom: 1px solid rgb(218, 220, 224);

  display: flex;
  align-items: center;
  justify-content:center;

  .icon {
    img {
      width: 40px;
      margin-bottom: 4px;
    }

    p {
      color: #5f6368;
      font-family: Product Sans, Arial, sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      display: inline-block;
      padding-left: 8px;
    }
  }

  .col {
    p {
      color: #3c4043;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      display: inline-block;
      padding-left: 8px;
    }
  }

  .center {
    button.btn-light {
      margin-right: 16px;
    }

    p {
      margin-left: 8px;
    }
  }

  button.btn-light {
    border: 1px solid rgb(218, 220, 224);
    font-size: 14px;
  }

  select {
    width: 90px;
    border: 1px solid rgb(218, 220, 224);
    font-size: 14px;
  }
}

.sidebar {
  padding: 16px 0;

  button.new {
    border-radius: 48px;
    padding: 8px 32px ;
    margin-bottom: 32px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);

    display: flex;
    align-items: center;
    justify-content: center;

    strong {
      font-size: 14px;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-weight: 500;
      color: rgb(60, 64, 67);
      line-height: 36px;
      letter-spacing: 0.25px;
    }

    i {
      margin-right: 18px;
      font-size: 1.5em;
      color: red;
    }
  }

  ngb-datepicker {
    border: 0;

    div.btn-light {
      height: 24px;
      width: 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100%;
      font-size: 12px;
      color: #3c4043;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    .bg-primary {
      background-color: $primary;
    }

    .text-muted {
      color: #70757a;
    }

    .outside{
      color: #70757a;
    }

    .ngb-dp-week {
      font-size: 14px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 500;
      text-align: center;
      border: 0;
      color: #70757a;
    }

    select {
      border: 0;
      background: none;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: .25px;
      line-height: 20px;
      font-weight: 500;
      color: #3c4043;
    }

    span.ngb-dp-navigation-chevron {
      color: rgb(95, 99, 104);
      font-size: 12px;
    }

  }
}

.scheduler {
  small.title {
    font-size: 10px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #70757A;
    text-align: right;
  }

  strong.title {
    font-size: 11px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(112, 117, 122);
  }

  p.title {
    font-size: 26px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
    color: rgb(112, 117, 122);
  }

  tbody {
    position: relative;
  }

  tr {
    height: 40px;
    border-bottom: 1px solid rgb(218, 220, 224);
    padding: 0;
  }

  td {
    border-right: 1px solid rgb(218, 220, 224);
    padding: 0;
    width: 112px;
    position: relative;
  }

  tr.top {
    border: 0;
    text-align: center;

    th.title {
      border: 0;

      div.title {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    th.hour {
      border: 0;
    }
  }

  tr.tz {
    th {
      height: 40px;
      width: 60px;
      border-right: 1px solid rgb(218, 220, 224);
      padding: 0;

      display: flex;
      align-items:  flex-end;
      justify-content: flex-start;
    }
  }

  .hour {
    height: 40px;
    width: 60px;
    border-right: 1px solid rgb(218, 220, 224);
    padding: 0;

    display: flex;
    align-items:  flex-end;
    justify-content: flex-start;
  }
}

.event {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px;
  cursor: pointer;

  strong {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.1px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-transform: none;

    margin-bottom: 4px;
  }

  p {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-transform: none;
    margin: 0;
    padding: 0;
  }
}

.modal {
  div.modal-header {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(241, 243, 244);

    button {
      background: none;
      border: 0;

      i {
        font-size: 14px;
        color: rgb(95, 99, 104);
      }
    }
  }

  div.modal-body {
    padding: 8px 24px 24px 24px;

    i {
      font-size: 18px;
      color: rgb(95, 99, 104);
    }

    input.event-title {
      height: 28px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #dadce0;

      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 22px;
      line-height: 24px;
      font-weight: 400;
      color: rgb(60, 64, 67);
    }

    input.event-day {
      border: 0;

      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-weight: 400;
      color: rgb(60, 64, 67);
      margin-right: 8px;
    }

    input.event-guest {
      width: 100%;
      border: 0;

      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 36px;
      padding: 0 8px;
      color: rgb(112, 117, 122);
    }

    textarea.event-details {
      height: 91px;
      min-height: 36px;
      width: 100%;
      border: 0;
      border-radius: 4px;
      background-color: rgb(241, 243, 244);

      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      padding: 0 8px;
      color: rgb(95, 99, 104);
    }

    select.event-hour {
      border: 0;
      background: none;
      text-transform: lowercase;

      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: rgb(60, 64, 67);

      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }

    p.event-hour {
      margin: 0 12px 0 4px;
      font-size: 28px;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-weight: 400;
      color: rgb(60, 64, 67);
    }

    label.event-day {
      margin-left: 8px;
      color: rgb(60, 64, 67);
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 14px;
    }

    input.form-check-input {
      margin: 0;
    }

    input:focus, textarea:focus, select:focus {
      background: rgb(241, 243, 244);
      outline: none;
      border-bottom: 1px solid rgb(26, 115, 232);
    }

    input:disabled, textarea:disabled, select:disabled {
      cursor: default;
      border: 0;
    }

    div.fragment {
      margin: 0;
      padding: 0;

      display: inline;
    }

    .row {
      margin-top: 20px;
    }

    .row-no-margin {
      margin: 0;
    }

    .row-guests {
      margin: 4px 0;

      & + .row-guests {
        margin-top: 4px;
      }
    }

    .col {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .col-details {
      align-items: flex-start;
    }
  }

  div.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border: 0;

    button {
      height: 36px;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.25px;
      line-height: 36px;
      padding: 0 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.btn-primary {
        background-color: rgb(26, 115, 232);
      }
    }
  }
}

.login {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 448px;
    padding: 48px 40px 36px 40px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
  }

  div.login-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 24px;

    img {
      height: 24px;
    }

    strong {
      color: rgb(32, 33, 36);
      font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3333;
      padding-top: 16px;
    }

    p {
      color: rgb(32, 33, 36);
      font-family: Roboto,'Noto Sans Myanmar UI',arial,sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.1px;
      line-height: 1.5;
      padding-top: 8px;
    }
  }

  form.login-body {
    input {
      padding: 13px 15px;
      border-radius: 4px;
      border: 1px solid rgb(218, 220, 224);

      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: rgb(32,33,36);

      &:focus {
        outline: none;
        border: 2px solid rgb(26, 115, 232);
      }
    }
  }

  div.login-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    padding-bottom: 20px;

    button {
      height: 36px;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 36px;
      padding: 0 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.btn-primary {
        background-color: rgb(26, 115, 232);
        color: #FFFFFF;
      }

      &.btn-light {
        color: rgb(26, 115, 232);
      }
    }
  }
}
