<div class="row header">
  <div class="col-3 icon">
    <img src="../../../assets/calendar_7_2x.png" alt="logo.png">
    <p>Calendar</p>
  </div>
  <div class="col center">
    <button
      class="btn btn-light"
      (click)="onSetToday()"
  >
      Today
    </button>
    <button
      class="btn"
      (click)="onChangeStart('previous')"
    >
      <i class="bi bi-chevron-left"></i>
    </button>
    <button
      class="btn"
      (click)="onChangeStart('next')"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
    <p>{{start | monthOfYear}}</p>
  </div>
  <div class="col-2">
    <select
      class="form-select"
      aria-label="Default select example"
      [value]="type"
      (change)="onChangeType(fieldType.value)"
      #fieldType
    >
      <option>Day</option>
      <option selected>Week</option>
    </select>
  </div>
</div>
