<button class="modal" hidden (click)="open(editeventmodal)"></button>
<ng-template class="modal" #editeventmodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <input
              id="name"
              type="text"
              class="event-title"
              placeholder="Add title"
              formControlName="name"
            >
          </div>
        </div>
        <div class="row">
          <div class="col col-1">
            <i class="bi bi-clock"></i>
          </div>
          <div class="col col-5">
            <input
              id="start_day"
              type="date"
              class="event-day"
              formControlName="start_day"
            >
          </div>
          <div class="col" [hidden]="!fieldAllDay.checked">
            <p class="event-hour">-</p>
            <input
              id="end_day"
              type="date"
              class="event-day"
              formControlName="end_day"
            >
          </div>
          <div class="col" [hidden]="fieldAllDay.checked">
            <select
              id="start_hour"
              class="event-hour"
              formControlName="start_hour"
            >
              <option *ngFor="let hour of hours" [value]="hour">
                {{hour | hour}}
              </option>
            </select>
            <p class="event-hour">-</p>
            <select
              id="end_hour"
              class="event-hour"
              formControlName="end_hour"
            >
              <option *ngFor="let hour of hours" [value]="hour">
                {{hour | hour}}
              </option>
            </select>
          </div>
        </div>
        <div class="row row-no-margin" [hidden]="isGuest">
          <div class="col col-1"></div>
          <div class="col">
            <input
              id="all_day"
              type="checkbox"
              class="form-check-input"
              formControlName="all_day"
              #fieldAllDay
            >
            <label class="event-day" for="exampleCheck1">All day</label>
          </div>
        </div>
        <div class="row" [hidden]="isGuest">
          <div class="col col-1">
            <i class="bi bi-people"></i>
          </div>
          <div class="col">
            <input
              id="guests"
              class="event-guest"
              placeholder="Add guests"
              (blur)="onAddGuests(fieldGuest.value)"
              #fieldGuest
            >
          </div>
        </div>
        <div class="row row-guests" *ngFor="let guest of guests">
          <div class="col col-1"></div>
          <div class="col col-1 col-details">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="col">
            <p>{{guest}}</p>
          </div>
          <div class="col col-1" [hidden]="isGuest">
            <button class="btn btn-light" (click)="onDeleteGuest(guest)">
              <i class="bi bi-x"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-1 col-details">
            <i class="bi bi-justify-left"></i>
          </div>
          <div class="col">
            <textarea
              id="description"
              class="event-details"
              placeholder="Add description"
              formControlName="description"
              [attr.disabled]="isGuest"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer" [hidden]="isGuest">
        <button type="submit" class="btn btn-primary" (click)="close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </form>
  </div>
</ng-template>
